{% include '_partials/_header.html' %}
{% include '_partials/_nav.html' %}
    
<main class="container content flex flex-wrap  mx-auto px-4 md:px-0 my-6 ">

  

<article class="w-full mx-auto content md:w-3/4">

		<h1 class="text-2xl md:text-3xl text-gray-800">Exhibitions &amp; Collections</h1>
    <p>Throughout his career Strautmanis participated in many group shows as well as more than a hundred solo shows throughout his life.</p><p> Strautmanis' paintings are included in many notable collections, including the Minneapolis Institute of Arts, the Herbert F. Johnson Museum of Cornell University, the Kunsthaus in Zurich and the Latvian Museum of Art in Riga, Latvia.</p>

    

   
         <div>
            <div class="tab w-full overflow-hidden border-t">
               <input class="absolute opacity-0" id="tab-single-one" type="radio" name="tabs2">
               <label class="block py-3 text-blue-800 leading-normal cursor-pointer" for="tab-single-one">Selected Solo Exhibitions</label>
               <div class="tab-content overflow-hidden  bg-gray-100  leading-normal">
                  <p>1996- Staller Center for the Arts, Stony Brook, NY</p>
                    <p>1994- Stephen Rosenburg Gallery, NYC</p>
                    <p>1994- Kunst-Museum, Ahlen, Germany</p>
                    <p>1992- Jahnhorst and Preuss, Berlin, Germany</p>
                    <p>1991- Stephen Rosenburg Gallery, NYC</p>
                    <p>1991- Galerie Metta Linde, Lubeck, Germany</p>
                    <p>1990- Stephen Rosenberg Gallery, NYC</p>
                    <p>1987- OK Harris Gallery, NYC</p>
                    <p>1987- Galerie Sylvia Menzel, Berlin, Germany</p>
                    <p>1987- Galerie Brigitta Jacob, Oldenburg, Germany</p>
                    <p>1987- United States Mission, Berlin, Germany</p>
                    <p>1986- John Guggenheim Gallery, Miami, Fl</p>
                    <p>1986- Benson gallery, Southampton, NY</p>
                    <p>1985- Bockley Gallery, Minneapolis, MN</p>
                    <p>1984- Reynold C. Kerr Gallery, NYC</p>
                    <p>1984- Jeremy Stone Gallery, San Francisco, CA</p>
                    <p>1983- The Grayson Gallery, Chicago, IL</p>
                    <p>1982- Allan Stone Gallery, NYC</p>
                    <p>1980- Allan Stone Gallery, NYC</p>
                    <p>1979- Samuel Stein Fine Arts, Chicago, IL</p>
                    <p>1979- Walter Kelly Gallery, Chicago, IL</p>
                    <p>1977- Allan Stone Gallery, NYC</p>
                    <p>1975- Allan Stone Gallery, NYC</p>
                    <p>1974- Isis Gallery, Notre Dame University, IN</p>
                    <p>1973- Walter Kelly Gallery, Chicago, IL</p>
                    <p>1973- LoGiudice Gallery, NYC</p>
                    <p>1970- LoGiudice Gallery, NYC</p>
                    <p>1965- University of Chicago, IL</p>
               </div>
            </div>
            <div class="tab w-full overflow-hidden border-t">
               <input class="absolute opacity-0" id="tab-single-two" type="radio" name="tabs2">
               <label class="block py-3 text-blue-800 leading-normal cursor-pointer" for="tab-single-two">Selected Group Exhibitions</label>
               <div class="tab-content overflow-hidden  bg-gray-100  leading-normal">
                  <p>2002- Abstraction, Allan Stone Gallery, New York, NY</p>
            <p>1997- One of A Kind, Rosenberg + Kaufman Gallery, New York, NY</p>
            <p>1995- Rigas Galeriga, Riga, Latvia</p>
            <p>1993- The Tenth Summer, Stephen Rosenberg Gallery, New York, NY</p>
            <p>1993- Jahnhorst and Preuss, Berlin, Germany</p>
            <p>1991- Paper Trail, Stephen Rosenberg Gallery, New York, NY</p>
            <p>1990- The Art Studio, New York, NY</p>
            <p>1989- Anita Shapolsky Gallery, New York, NY</p>
            <p>1988- Noordkunst, Groningen Museum, Denmark</p>
            <p>1987- Kouros Gallery, New York, NY</p>
            <p>1986- Benton Gallery, Southampton, NY</p>
            <p>1985- Five New York Expressionists, Newton Arts Center, Newton, MA</p>
            <p>1985- Advanced Abstraction, Burke Gallery, New York, NY</p>
            <p>1983- Swen Parson Gallery, Northern Illinois University, De Kalb, IL</p>
            <p>1983-Stephen Rosenberg Gallery, New York, NY</p>
            <p>1978- Abstract Expressionism and Its Disciples, Allan Stone Gallery, New York, NY</p>
            <p>1976- Governors State University, Park Forest South, IL</p>
            <p>1976- Dart Gallery, Chicago, IL</p>
            <p>1974- Painting and Sculpture Today, Indianapolis Museum of Art, Indianapolis, IN</p>
            <p>1974- Allan Stone Gallery, New York, NY</p>
            <p>1970- Society for Contemporary Art, The Art Institute of Chicago, Chicago, IL</p>
            <p>1968- Whitney Museum of American Art, New York, NY</p>
            <p>1968- State Museum of Natural History and Art, Springfield, IL</p>
            <p>1968- Five Abstractionists, Main Street Gallery, Chicago, IL</p>
            <p>1968- Painting: Off the Wall, Des Moines Art Center, IA</p>
            <p>1966- Noah Goldowsky Gallery, New York, NY</p>
            <p>1965- Society for Contemporary Art, The Art Institute of Chicago, Chicago, IL</p>
            <p>1964- Contemporary Latvian Painters, Herron Museum of Art, Indianapolis, IN</p>
            <p>1964- 7’and Up, DePaul University, Chicago, IL</p>
            <p>1964- Hyde Park Art Center, Chicago, IL</p>
            <p>1962- 12 Chicago Artists, McCormick Place Gallery, Chicago, IL</p>
               </div>
            </div>
            <div class="tab w-full overflow-hidden border-t">
               <input class="absolute opacity-0" id="tab-single-three" type="radio" name="tabs2">
               <label class="block py-3 text-blue-800 leading-normal cursor-pointer" for="tab-single-three">Selected Public Collections</label>
               <div class="tab-content overflow-hidden  bg-gray-100 leading-normal">
                  <p>Chase Manhattan Bank, New York, NY</p>
            <p>AT&T Company, New York, NY</p>
            <p>HMH Publishing Company, Chicago, IL</p>
            <p>Houstonic Museum of Art, Bridgeport, CT</p>
            <p>Herbert F. Johnson Museum of Art, Ithaca, NY</p>
            <p>Kunsthaus, Zurich, Switzerland</p>
            <p>Latvian State Museum of Art, Riga, Latvia</p>
            <p>The Sydney and Francis Lewis Foundation, VA</p>
            <p>Minneapolis Institute of Arts, Minneapolis, MN</p>
            <p>Newark Museum, Newark, NJ</p>
            <p>Museum of Contemporary Art, Chicago, IL</p>
            <p>Phoenix Museum of Art, Phoenix, AZ</p>
            <p>Ringling Museum of Art, Sarasota, FL</p>
            <p>St. Mary’s College of Art, MD</p>
            <p>University Art Center, Rutgers State University, NJ</p>
               </div>
            </div>

</div>
   <h1 class="text-xl md:text-2xl text-gray-800 mt-4 ">Cesis Art Festival Retrospective</h1>

<img src="/assets/cesis_gallery_wide.jpg" class="mb-4">

<p>In the Summer of 2019 Strautmanis' first-ever retrospective in his native Latvia. Never before shown works showcasing the most significant and creative period of the artist's career.</p>

<p><a href="/cesis">View Gallery</a></p>



<h1 class="text-xl md:text-2xl text-gray-800">Articles and Resources</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi, corporis sint officia sunt dicta saepe consequuntur explicabo.</p>





</article>
</main>
   <script>
      /* Optional Javascript to close the radio button version by clicking it again */
      var myRadios = document.getElementsByName('tabs2');
      var setCheck;
      var x = 0;
      for(x = 0; x < myRadios.length; x++){
          myRadios[x].onclick = function(){
              if(setCheck != this){
                   setCheck = this;
              }else{
                  this.checked = false;
                  setCheck = null;
          }
          };
      }
   </script>
   
{% include '_partials/_footer.html' %}