<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    {% hook 'seomateMeta' %}
    
    <link href="/css/tailwind/public/build/tailwind.css" rel="stylesheet">
   
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
 
</head>
<body class="h-screen" style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url('/assets/paintings/new-back.jpg'); background-size:cover; background-repeat:no-repeat;">


	<div class=" container mx-auto text-center ">
		<h1 class="text-3xl uppercase md:text-5xl text-white  mt-24">Edvins Strautmanis</h1>
    <p class="text-small"><a href="/index-v2" class="text-gray-500">Index v2</a></p>
    <h2 class="text-teal-300 text-2xl md:text-4xl bold mb-6">Chaos and Order</h2>

  <div class=" bg-transparent hover:bg-black text-black w-3/4  md:w-1/4  font-bold uppercase py-2 px-4 rounded-sm mx-auto mb-6 border border-gray-600"><a href="/about" class="text-gray-400">Brief Biography </a></div>

<div class=" bg-transparent hover:bg-black text-black w-3/4 md:w-1/4 font-bold uppercase py-2 px-4 rounded-sm mx-auto mb-6 border border-gray-600"><a href="/catalog" class="text-gray-400">Selected Work</a></div>

  <div class=" bg-transparent hover:bg-black text-black w-3/4 md:w-1/4  font-bold uppercase py-2 px-4 rounded-sm mx-auto mb-6 border border-gray-600"><a href="/exhibitions" class="text-gray-400">Exhibitions &amp; Media</a></div>

<div class=" bg-transparent hover:bg-black text-black w-3/4 md:w-1/4  font-bold uppercase py-2 px-4 rounded-sm mx-auto mb-6 border border-gray-600"><a href="/contact" class="text-gray-400">Contact Us</a></div>
  



</div>

</body>
</html>